In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("stations_processed.csv")

In [4]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [5]:
df

,coordinates,to,parameterId,stationId,timeResolution,value
0,"[9.7872, 55.868]",2011-01-01T00:00:00+00:00,leaf_moisture,6102,hour,0.0
1,"[12.1841, 54.879]",2011-01-01T00:00:00+00:00,mean_relative_hum,6147,hour,94.8
2,"[11.8605, 55.2075]",2011-01-01T00:00:00+00:00,acc_precip,6154,hour,0.0
3,"[9.8882, 55.2444]",2011-01-01T00:00:00+00:00,max_wind_speed_10min,6123,hour,11.7
4,"[11.3879, 55.3224]",2011-01-01T00:00:00+00:00,mean_wind_dir,6135,hour,260.0
...,...,...,...,...,...,...
90368589,"[-18.6681, 76.7694]",2023-01-01T06:00:00+00:00,min_temp,4320,year,-37.1
90368590,"[-51.7308, 64.1833]",2023-01-01T06:00:00+00:00,mean_daily_min_temp,4250,year,-9.2
90368591,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,no_cold_days,4208,year,129.0
90368592,"[-50.4058, 62.5789]",2023-01-01T06:00:00+00:00,no_cold_days,4253,year,44.0
90368593,"[-46.0489, 60.7156]",2023-01-01T06:00:00+00:00,mean_vapour_pressure,4272,year,5.2

In [6]:
df.sort_values(by=["to","coordinates","parameterId"],inplace=True)

In [7]:
df.reset_index(drop=True,inplace=True)

In [8]:
df.head(100)

,coordinates,to,parameterId,stationId,timeResolution,value
0,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,max_temp_w_date,6049,hour,4.0
1,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,max_wind_speed_10min,6049,hour,18.7
2,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,max_wind_speed_3sec,6049,hour,27.4
3,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,mean_pressure,6049,hour,1001.3
4,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,mean_relative_hum,6049,hour,89.2
...,...,...,...,...,...,...
95,"[10.5693, 55.0144]",2011-01-01T00:00:00+00:00,max_temp_w_date,6124,hour,3.1
96,"[10.5693, 55.0144]",2011-01-01T00:00:00+00:00,max_wind_speed_10min,6124,hour,11.4
97,"[10.5693, 55.0144]",2011-01-01T00:00:00+00:00,max_wind_speed_3sec,6124,hour,17.3
98,"[10.5693, 55.0144]",2011-01-01T00:00:00+00:00,mean_pressure,6124,hour,1008.7
99,"[10.5693, 55.0144]",2011-01-01T00:00:00+00:00,mean_relative_hum,6124,hour,93.5

In [9]:
df.tail(50)

,coordinates,to,parameterId,stationId,timeResolution,value
90368544,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,acc_heating_degree_days_19,4208,year,4601.9
90368545,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,max_pressure,4208,year,1039.1
90368546,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,max_relative_hum,4208,year,97.0
90368547,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,max_temp_w_date,4208,year,0.0
90368548,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,max_wind_speed_10min,4208,year,23.2
90368549,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,max_wind_speed_3sec,4208,year,30.4
90368550,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,mean_daily_max_temp,4208,year,-13.3
90368551,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,mean_daily_min_temp,4208,year,-18.6
90368552,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,mean_pressure,4208,year,1006.9
90368553,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,mean_relative_hum,4208,year,78.7
90368554,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,mean_temp,4208,year,-15.9
90368555,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,mean_vapour_pressure,4208,year,1.3
90368556,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,mean_wind_dir,4208,year,24.0
90368557,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,mean_wind_speed,4208,year,5.9
90368558,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,min_pressure,4208,year,949.9
90368559,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,min_relative_hum,4208,year,37.0
90368560,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,min_temp,4208,year,-27.6
90368561,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,no_cold_days,4208,year,129.0
90368562,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,no_days_w_hurricane,4208,year,0.0
90368563,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,no_days_w_storm,4208,year,0.0
90368564,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,no_frost_days,4208,year,132.0
90368565,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,no_ice_days,4208,year,131.0
90368566,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,no_stormy_days,4208,year,2.0
90368567,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,no_summer_days,4208,year,0.0
90368568,"[-57.7231, 74.0606]",2023-01-01T06:00:00+00:00,no_windy_days,4208,year,39.0
90368569,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,acc_heating_degree_days_19,4203,year,4430.6
90368570,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,max_pressure,4203,year,1041.2
90368571,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,max_relative_hum,4203,year,93.0
90368572,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,max_temp_w_date,4203,year,-0.2
90368573,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,max_wind_speed_10min,4203,year,20.6
90368574,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,max_wind_speed_3sec,4203,year,27.8
90368575,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,mean_daily_max_temp,4203,year,-12.8
90368576,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,mean_daily_min_temp,4203,year,-16.4
90368577,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,mean_pressure,4203,year,1008.2
90368578,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,mean_relative_hum,4203,year,75.4
90368579,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,mean_temp,4203,year,-14.6
90368580,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,mean_vapour_pressure,4203,year,1.4
90368581,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,mean_wind_dir,4203,year,289.0
90368582,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,mean_wind_speed,4203,year,5.8
90368583,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,min_pressure,4203,year,956.4
90368584,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,min_relative_hum,4203,year,44.0
90368585,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,min_temp,4203,year,-26.3
90368586,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,no_cold_days,4203,year,116.0
90368587,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,no_days_w_hurricane,4203,year,0.0
90368588,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,no_days_w_storm,4203,year,0.0
90368589,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,no_frost_days,4203,year,132.0
90368590,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,no_ice_days,4203,year,132.0
90368591,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,no_stormy_days,4203,year,0.0
90368592,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,no_summer_days,4203,year,0.0
90368593,"[-73.1208, 76.7333]",2023-01-01T06:00:00+00:00,no_windy_days,4203,year,50.0

In [12]:
df.dtypes

coordinates        object
to                 object
parameterId        object
stationId           int64
timeResolution     object
value             float64
dtype: object

In [13]:
df.drop(df[df.stationId<5000].index,inplace=True)

In [30]:
df.drop(df[df.stationId>7000].index,inplace=True)

In [53]:
df_station_pluvio = df.drop(df[df.stationId>6000].index)

In [54]:
df_station_synop = df.drop(df[df.stationId<6000].index)

In [55]:
df_station_pluvio

,coordinates,to,parameterId,stationId,timeResolution,value
10,"[10.1004, 56.5665]",2011-01-01T00:00:00+00:00,acc_precip,5140,hour,1.0
11,"[10.1025, 55.0977]",2011-01-01T00:00:00+00:00,acc_precip,5435,hour,0.0
12,"[10.1074, 57.5705]",2011-01-01T00:00:00+00:00,acc_precip,5005,hour,0.0
41,"[10.1644, 56.7157]",2011-01-01T00:00:00+00:00,acc_precip,5070,hour,0.7
42,"[10.2535, 55.9126]",2011-01-01T00:00:00+00:00,acc_precip,5169,hour,0.2
...,...,...,...,...,...,...
90367972,"[9.9962, 55.7102]",2023-01-01T00:00:00+01:00,max_precip_24h,5220,year,17.7
90367973,"[9.9962, 55.7102]",2023-01-01T00:00:00+01:00,max_precip_30m,5220,year,3.5
90367975,"[9.9962, 55.7102]",2023-01-01T00:00:00+01:00,no_days_acc_precip_01,5220,year,54.0
90367976,"[9.9962, 55.7102]",2023-01-01T00:00:00+01:00,no_days_acc_precip_1,5220,year,33.0
90367977,"[9.9962, 55.7102]",2023-01-01T00:00:00+01:00,no_days_acc_precip_10,5220,year,5.0

In [56]:
df_station_synop

,coordinates,to,parameterId,stationId,timeResolution,value
0,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,max_temp_w_date,6049,hour,4.0
1,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,max_wind_speed_10min,6049,hour,18.7
2,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,max_wind_speed_3sec,6049,hour,27.4
3,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,mean_pressure,6049,hour,1001.3
4,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,mean_relative_hum,6049,hour,89.2
...,...,...,...,...,...,...
90367966,"[9.988, 54.8528]",2023-01-01T00:00:00+01:00,no_ice_days,6119,year,0.0
90367967,"[9.988, 54.8528]",2023-01-01T00:00:00+01:00,no_stormy_days,6119,year,7.0
90367968,"[9.988, 54.8528]",2023-01-01T00:00:00+01:00,no_summer_days,6119,year,0.0
90367969,"[9.988, 54.8528]",2023-01-01T00:00:00+01:00,no_tropical_nights,6119,year,0.0
90367970,"[9.988, 54.8528]",2023-01-01T00:00:00+01:00,no_windy_days,6119,year,69.0

In [31]:
df

,coordinates,to,parameterId,stationId,timeResolution,value
0,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,max_temp_w_date,6049,hour,4.0
1,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,max_wind_speed_10min,6049,hour,18.7
2,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,max_wind_speed_3sec,6049,hour,27.4
3,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,mean_pressure,6049,hour,1001.3
4,"[10.0929, 56.5604]",2011-01-01T00:00:00+00:00,mean_relative_hum,6049,hour,89.2
...,...,...,...,...,...,...
90367972,"[9.9962, 55.7102]",2023-01-01T00:00:00+01:00,max_precip_24h,5220,year,17.7
90367973,"[9.9962, 55.7102]",2023-01-01T00:00:00+01:00,max_precip_30m,5220,year,3.5
90367975,"[9.9962, 55.7102]",2023-01-01T00:00:00+01:00,no_days_acc_precip_01,5220,year,54.0
90367976,"[9.9962, 55.7102]",2023-01-01T00:00:00+01:00,no_days_acc_precip_1,5220,year,33.0
90367977,"[9.9962, 55.7102]",2023-01-01T00:00:00+01:00,no_days_acc_precip_10,5220,year,5.0

In [32]:
for i in range(10):
    df[int(len(df)/10)*i:int(len(df)/10)*(i+1)].to_csv("clean split data/stations_clean_"+str(i)+".csv")

In [33]:
df.to_csv("stations_denmark.csv")

In [57]:
df_station_pluvio.to_csv("pluvio_stations.csv")
df_station_synop.to_csv("synop_stations.csv")

In [34]:
df.isna().sum()

coordinates       74
to                 0
parameterId        0
stationId          0
timeResolution     0
value              0
dtype: int64

In [68]:
df_hour = df.loc[df["timeResolution"]=="hour"]
df_day = df.loc[df["timeResolution"]=="day"]
df_month = df.loc[df["timeResolution"]=="month"]
df_year = df.loc[df["timeResolution"]=="year"]

df_hour_pluvio = df_station_pluvio.loc[df_station_pluvio["timeResolution"]=="hour"]
df_hour_synop = df_station_synop.loc[df_station_synop["timeResolution"]=="hour"]

In [59]:
df_hour_pivot = df_hour.pivot(index=["to","stationId"],columns=["parameterId"], values="value")

df_hour_pluvio_pivot = df_hour_pluvio.pivot(index=["to","stationId"],columns=["parameterId"], values="value")
df_hour_synop_pivot = df_hour_synop.pivot(index=["to","stationId"],columns=["parameterId"], values="value")

In [44]:
df_hour_pivot.head(100)

parameterId                          acc_precip  bright_sunshine  \
to                        stationId
2011-01-01T00:00:00+00:00 5005              0.0              NaN
                          5009              0.0              NaN
                          5015              0.0              NaN
                          5031              0.0              NaN
                          5035              0.0              NaN
...                                         ...              ...
                          6149              0.0              0.0
                          6151              NaN              NaN
                          6154              0.0              NaN
                          6156              0.0              0.0
                          6159              0.1              NaN

parameterId                          leaf_moisture  max_temp_w_date  \
to                        stationId
2011-01-01T00:00:00+00:00 5005                 NaN              NaN
                          5009                 NaN              NaN
                          5015                 NaN              NaN
                          5031                 NaN              NaN
                          5035                 NaN              NaN
...                                            ...              ...
                          6149                 NaN              1.9
                          6151                 NaN              2.4
                          6154                 NaN              1.8
                          6156                 0.0              2.9
                          6159                 NaN              2.2

parameterId                          max_wind_speed_10min  \
to                        stationId
2011-01-01T00:00:00+00:00 5005                        NaN
                          5009                        NaN
                          5015                        NaN
                          5031                        NaN
                          5035                        NaN
...                                                   ...
                          6149                       14.8
                          6151                       16.1
                          6154                        9.9
                          6156                       14.1
                          6159                       13.2

parameterId                          max_wind_speed_3sec  mean_pressure  \
to                        stationId
2011-01-01T00:00:00+00:00 5005                       NaN            NaN
                          5009                       NaN            NaN
                          5015                       NaN            NaN
                          5031                       NaN            NaN
                          5035                       NaN            NaN
...                                                  ...            ...
                          6149                      17.8         1009.0
                          6151                      20.3         1007.1
                          6154                      14.0         1006.6
                          6156                      20.9         1004.4
                          6159                      18.9         1004.3

parameterId                          mean_radiation  mean_relative_hum  \
to                        stationId
2011-01-01T00:00:00+00:00 5005                  NaN                NaN
                          5009                  NaN                NaN
                          5015                  NaN                NaN
                          5031                  NaN                NaN
                          5035                  NaN                NaN
...                                             ...                ...
                          6149                  0.0               94.5
                          6151                  NaN               93.3
                          6154                  NaN               98.8
                          6156                  0.0               95.0
                          6159                  NaN               97.7

parameterId                          mean_temp  mean_wind_dir  \
to                        stationId
2011-01-01T00:00:00+00:00 5005             NaN            NaN
                          5009             NaN            NaN
                          5015             NaN            NaN
                          5031             NaN            NaN
                          5035             NaN            NaN
...                                        ...            ...
                          6149             1.8          248.0
                          6151             2.2          260.0
                          6154             1.5          259.0
                          6156             2.8          250.0
                          6159             2.1          250.0

parameterId                          mean_wind_speed  min_temp  temp_grass  \
to                        stationId
2011-01-01T00:00:00+00:00 5005                   NaN       NaN         NaN
                          5009                   NaN       NaN         NaN
                          5015                   NaN       NaN         NaN
                          5031                   NaN       NaN         NaN
                          5035                   NaN       NaN         NaN
...                                              ...       ...         ...
                          6149                  13.8       1.7         NaN
                          6151                  15.8       2.0         NaN
                          6154                   8.6       1.4         NaN
                          6156                  13.5       2.7        -0.4
                          6159                  12.4       1.9         NaN

parameterId                          temp_soil_10  temp_soil_30  \
to                        stationId
2011-01-01T00:00:00+00:00 5005                NaN           NaN
                          5009                NaN           NaN
                          5015                NaN           NaN
                          5031                NaN           NaN
                          5035                NaN           NaN
...                                           ...           ...
                          6149                NaN           NaN
                          6151                NaN           NaN
                          6154                NaN           NaN
                          6156                0.1           0.9
                          6159                NaN           NaN

parameterId                          vapour_pressure_deficit_mean
to                        stationId
2011-01-01T00:00:00+00:00 5005                                NaN
                          5009                                NaN
                          5015                                NaN
                          5031                                NaN
                          5035                                NaN
...                                                           ...
                          6149                                0.0
                          6151                                0.0
                          6154                                0.0
                          6156                                0.0
                          6159                                0.0

[100 rows x 17 columns]

In [60]:
df_hour_pluvio_pivot.head(10)

parameterId                          acc_precip  max_wind_speed_10min  \
to                        stationId
2011-01-01T00:00:00+00:00 5005              0.0                   NaN
                          5009              0.0                   NaN
                          5015              0.0                   NaN
                          5031              0.0                   NaN
                          5035              0.0                   NaN
                          5065              0.2                   NaN
                          5070              0.7                   NaN
                          5075              0.5                   NaN
                          5081              0.0                   NaN
                          5085              0.0                   NaN

parameterId                          mean_wind_speed
to                        stationId
2011-01-01T00:00:00+00:00 5005                   NaN
                          5009                   NaN
                          5015                   NaN
                          5031                   NaN
                          5035                   NaN
                          5065                   NaN
                          5070                   NaN
                          5075                   NaN
                          5081                   NaN
                          5085                   NaN

In [61]:
df_hour_synop_pivot.head(10)

parameterId                          acc_precip  bright_sunshine  \
to                        stationId
2011-01-01T00:00:00+00:00 6019              0.0              0.0
                          6031              0.0              0.0
                          6032              NaN              NaN
                          6041              0.0              0.0
                          6049              NaN              NaN
                          6051              0.0              NaN
                          6052              0.0              NaN
                          6056              NaN              0.0
                          6058              0.0              0.0
                          6065              0.3              0.0

parameterId                          leaf_moisture  max_temp_w_date  \
to                        stationId
2011-01-01T00:00:00+00:00 6019                26.0              4.5
                          6031                 0.0              4.2
                          6032                 NaN              4.0
                          6041                 NaN              4.8
                          6049                 NaN              4.0
                          6051                 NaN              4.4
                          6052                 NaN              4.7
                          6056                 0.0              5.1
                          6058                 NaN              4.6
                          6065                 NaN              4.6

parameterId                          max_wind_speed_10min  \
to                        stationId
2011-01-01T00:00:00+00:00 6019                       14.4
                          6031                       14.0
                          6032                       14.1
                          6041                       12.7
                          6049                       18.7
                          6051                        NaN
                          6052                       15.1
                          6056                       12.8
                          6058                       14.5
                          6065                       14.3

parameterId                          max_wind_speed_3sec  mean_pressure  \
to                        stationId
2011-01-01T00:00:00+00:00 6019                      20.3            NaN
                          6031                      20.9            NaN
                          6032                      19.2          997.3
                          6041                      17.7          995.3
                          6049                      27.4         1001.3
                          6051                       NaN            NaN
                          6052                      20.7         1005.9
                          6056                      24.9         1005.6
                          6058                      19.4         1008.1
                          6065                      20.8         1002.4

parameterId                          mean_radiation  mean_relative_hum  \
to                        stationId
2011-01-01T00:00:00+00:00 6019                  0.0               76.2
                          6031                  0.0               74.5
                          6032                  NaN               75.5
                          6041                  0.0               68.5
                          6049                  NaN               89.2
                          6051                  NaN               80.0
                          6052                  NaN               87.3
                          6056                  0.0               93.8
                          6058                  0.0               98.0
                          6065                  0.0               83.5

parameterId                          mean_temp  mean_wind_dir  \
to                        stationId
2011-01-01T00:00:00+00:00 6019             4.1          290.0
                          6031             3.8          281.0
                          6032             3.7          282.0
                          6041             4.6          287.0
                          6049             3.6          287.0
                          6051             4.2            NaN
                          6052             4.2          302.0
                          6056             4.8          284.0
                          6058             4.3          285.0
                          6065             3.7          290.0

parameterId                          mean_wind_speed  min_temp  temp_grass  \
to                        stationId
2011-01-01T00:00:00+00:00 6019                  14.1       3.8         3.3
                          6031                  12.7       3.4         2.6
                          6032                  13.0       3.2         NaN
                          6041                  12.1       4.4         NaN
                          6049                  15.1       3.0         NaN
                          6051                   NaN       3.8         NaN
                          6052                  13.6       4.1         NaN
                          6056                  11.8       4.7         4.0
                          6058                  13.8       4.1         NaN
                          6065                  13.2       3.2         NaN

parameterId                          temp_soil_10  temp_soil_30  \
to                        stationId
2011-01-01T00:00:00+00:00 6019                0.0           0.7
                          6031               -0.5          -0.1
                          6032                NaN           NaN
                          6041                NaN           NaN
                          6049                NaN           NaN
                          6051                NaN           NaN
                          6052                NaN           NaN
                          6056               -0.1           0.4
                          6058                NaN           NaN
                          6065                0.1           0.3

parameterId                          vapour_pressure_deficit_mean
to                        stationId
2011-01-01T00:00:00+00:00 6019                                0.2
                          6031                                0.2
                          6032                                0.2
                          6041                                0.3
                          6049                                0.1
                          6051                                0.2
                          6052                                0.1
                          6056                                0.1
                          6058                                0.0
                          6065                                0.1

In [45]:
df_hour_pivot.isna().sum()

parameterId
acc_precip                       1862452
bright_sunshine                  9333972
leaf_moisture                   10404510
max_temp_w_date                  6655179
max_wind_speed_10min             6973417
max_wind_speed_3sec              6977038
mean_pressure                    7351154
mean_radiation                   9333972
mean_relative_hum                6577066
mean_temp                        6655253
mean_wind_dir                    6974090
mean_wind_speed                  6973417
min_temp                         6655255
temp_grass                      10061116
temp_soil_10                    10328992
temp_soil_30                    10406685
vapour_pressure_deficit_mean     6655765
dtype: int64

In [62]:
df_hour_pluvio_pivot.isna().sum()

parameterId
acc_precip                    0
max_wind_speed_10min    6475496
mean_wind_speed         6475496
dtype: int64

In [63]:
df_hour_synop_pivot.isna().sum()

parameterId
acc_precip                      1862452
bright_sunshine                 2858067
leaf_moisture                   3928605
max_temp_w_date                  179274
max_wind_speed_10min             497921
max_wind_speed_3sec              501133
mean_pressure                    875249
mean_radiation                  2858067
mean_relative_hum                101161
mean_temp                        179348
mean_wind_dir                    498185
mean_wind_speed                  497921
min_temp                         179350
temp_grass                      3585211
temp_soil_10                    3853087
temp_soil_30                    3930780
vapour_pressure_deficit_mean     179860
dtype: int64

In [64]:
df_hour_synop_pivot.drop("acc_precip",axis=1,inplace=True)
df_hour_synop_pivot.drop("bright_sunshine",axis=1,inplace=True)
df_hour_synop_pivot.drop("leaf_moisture",axis=1,inplace=True)
df_hour_synop_pivot.drop("mean_radiation",axis=1,inplace=True)
df_hour_synop_pivot.drop("temp_grass",axis=1,inplace=True)
df_hour_synop_pivot.drop("temp_soil_10",axis=1,inplace=True)
df_hour_synop_pivot.drop("temp_soil_30",axis=1,inplace=True)

In [65]:
df_hour_synop_pivot.isna().sum()

parameterId
max_temp_w_date                 179274
max_wind_speed_10min            497921
max_wind_speed_3sec             501133
mean_pressure                   875249
mean_relative_hum               101161
mean_temp                       179348
mean_wind_dir                   498185
mean_wind_speed                 497921
min_temp                        179350
vapour_pressure_deficit_mean    179860
dtype: int64

In [66]:
for i in range(10):
    df_hour_synop_pivot[int(len(df_hour_synop_pivot)/10)*i:int(len(df_hour_synop_pivot)/10)*(i+1)].to_csv("clean split data/synop_cleaned_"+str(i)+".csv")

In [67]:
df_hour_synop_pivot.to_csv("synop_hourly_clean.csv")

In [46]:
df_hour_pivot.drop("bright_sunshine",axis=1,inplace=True)
df_hour_pivot.drop("mean_radiation",axis=1,inplace=True)
df_hour_pivot.drop("leaf_moisture",axis=1,inplace=True)
df_hour_pivot.drop("temp_grass",axis=1,inplace=True)
df_hour_pivot.drop("temp_soil_10",axis=1,inplace=True)
df_hour_pivot.drop("temp_soil_30",axis=1,inplace=True)

In [47]:
df_hour_pivot.isna().sum()

parameterId
acc_precip                      1862452
max_temp_w_date                 6655179
max_wind_speed_10min            6973417
max_wind_speed_3sec             6977038
mean_pressure                   7351154
mean_relative_hum               6577066
mean_temp                       6655253
mean_wind_dir                   6974090
mean_wind_speed                 6973417
min_temp                        6655255
vapour_pressure_deficit_mean    6655765
dtype: int64

In [37]:
df_hour_pivot.head(150)

parameterId                          acc_precip  max_temp_w_date  \
to                        stationId
2021-04-17T02:00:00+00:00 5009              0.0              NaN
                          5031              0.0              NaN
                          5065              0.0              NaN
                          5075              0.0              NaN
                          5081              0.0              NaN
...                                         ...              ...
2021-04-17T03:00:00+00:00 5185              0.0              NaN
                          5202              0.0              NaN
                          5205              0.0              NaN
                          5220              0.0              NaN
                          5225              0.0              NaN

parameterId                          max_wind_speed_10min  \
to                        stationId
2021-04-17T02:00:00+00:00 5009                        NaN
                          5031                        NaN
                          5065                        NaN
                          5075                        NaN
                          5081                        NaN
...                                                   ...
2021-04-17T03:00:00+00:00 5185                        NaN
                          5202                        NaN
                          5205                        NaN
                          5220                        NaN
                          5225                        NaN

parameterId                          max_wind_speed_3sec  mean_pressure  \
to                        stationId
2021-04-17T02:00:00+00:00 5009                       NaN            NaN
                          5031                       NaN            NaN
                          5065                       NaN            NaN
                          5075                       NaN            NaN
                          5081                       NaN            NaN
...                                                  ...            ...
2021-04-17T03:00:00+00:00 5185                       NaN            NaN
                          5202                       NaN            NaN
                          5205                       NaN            NaN
                          5220                       NaN            NaN
                          5225                       NaN            NaN

parameterId                          mean_relative_hum  mean_temp  \
to                        stationId
2021-04-17T02:00:00+00:00 5009                     NaN        NaN
                          5031                     NaN        NaN
                          5065                     NaN        NaN
                          5075                     NaN        NaN
                          5081                     NaN        NaN
...                                                ...        ...
2021-04-17T03:00:00+00:00 5185                     NaN        NaN
                          5202                     NaN        NaN
                          5205                     NaN        NaN
                          5220                     NaN        NaN
                          5225                     NaN        NaN

parameterId                          mean_wind_dir  mean_wind_speed  min_temp  \
to                        stationId
2021-04-17T02:00:00+00:00 5009                 NaN              NaN       NaN
                          5031                 NaN              NaN       NaN
                          5065                 NaN              NaN       NaN
                          5075                 NaN              NaN       NaN
                          5081                 NaN              NaN       NaN
...                                            ...              ...       ...
2021-04-17T03:00:00+00:00 5185                 NaN              NaN       NaN
                          5202                 NaN              NaN       NaN
                          5205                 NaN              NaN       NaN
                          5220                 NaN              NaN       NaN
                          5225                 NaN              NaN       NaN

parameterId                          vapour_pressure_deficit_mean
to                        stationId
2021-04-17T02:00:00+00:00 5009                                NaN
                          5031                                NaN
                          5065                                NaN
                          5075                                NaN
                          5081                                NaN
...                                                           ...
2021-04-17T03:00:00+00:00 5185                                NaN
                          5202                                NaN
                          5205                                NaN
                          5220                                NaN
                          5225                                NaN

[150 rows x 11 columns]